<%= simple_form_for @ranking, url: 'palette' do |f| %>
    
  <%= f.input :game_id, :as => :hidden, :input_html => { :value => @game.id } %>
  <%= f.input :color1, label: false, :input_html => { :class => 'swatch', :id => 'color1' } %>
  <%= f.input :color2, label: false, :input_html => { :class => 'swatch', :id => 'color2' } %>
  <%= f.input :color3, label: false, :input_html => { :class => 'swatch', :id => 'color3' } %>
  <%= f.input :color4, label: false, :input_html => { :class => 'swatch', :id => 'color4' } %>
  <%= f.input :user_id, label: false, :as => :hidden, :input_html => { :value => current_user.id } %>

  <div class="form-actions-min">
    <%= f.submit nil, :as => :hidden, :class => 'btn btn-primary' %>
  </div>

<% end %>