<%= simple_form_for @ranking, url: 'palette' do |f| %>
  <fieldset>
    <legend>start a game with a friend who created it, and a friend who has to accept</legend>
    
    <%= f.input :game_id, :input_html => { :value => @game.id } %>
    <%= f.input :user_colors, as: :array, :input_html => { :id => 'color1', :value => '#000000'} %>
    <%= f.input :user_id, :input_html => { :value => current_user.id } %>

    <div class="form-actions-min">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>