<%
  $prev = ''
  $next = ''
%>

<section>
  <nav>
    <ul>
      <li class="ss-icon previous">
        <%= link_to "previous", $prev %>
      </li>
      <li class="ss-icon next">
        <%= link_to "next", $next %>
      </li>
    </ul>
    <h1>Choose your colors</h1>
  </nav>
</section>

<%= image_tag @game.image.file, :class => "game_image" %>

<!-- (<%= @game.image.file.current_path %>) -->

<script>
  $(document).ready(function() {
    $('#colorpicker1').farbtastic('#color1');
    $('#colorpicker1').addTouch();
    $('#colorpicker2').farbtastic('#color2');
    $('#colorpicker2').addTouch();
    $('#colorpicker3').farbtastic('#color3');
    $('#colorpicker3').addTouch();
    $('#colorpicker4').farbtastic('#color4');
    $('#colorpicker4').addTouch();
  });   
</script>

<!-- <p style="font-size: 3em;" id="log_colors">click to write down colors</a> -->

<form id="user_palette">
  <input type="text" id="color1" name="ranking[user_colors][]" value="#000000" />
  <input type="text" id="color2" name="ranking[user_colors][]" value="#000000" />
  <input type="text" id="color3" name="ranking[user_colors][]" value="#000000" />
  <input type="text" id="color4" name="ranking[user_colors][]" value="#000000" />
</form>

<div id="colorpicker1"></div>
<div id="colorpicker2"></div>
<div id="colorpicker3"></div>
<div id="colorpicker4"></div>

<!--
<script>
  $('#log_colors').click(function() {
    $('#user_palette input').each ( function (i) {
      var color = $(this).css("background-color");
      console.log(color);
      var colorhex = rgb2hex(color);
      console.log(colorhex);
    });
  });
</script> -->

<%= render 'form_rankings' %>

<!-- < %= link_to 'Back', rankings_path %> -->
