<div class="dashboard">

  <h1>
    Hello, <%= current_user.name %>! (<%= current_user.id %>)
  </h1>

  <%= link_to "(sign out)", signout_path, id: "sign_out" %>

  <%= link_to "games/new", id: 'new_game' do %>
    <button class="new-game">
      Start a new game!
    </button>
  <% end %>

  <% unless @not_accepted_games.nil? %>
    <h2>game invitations</h2>
    <ul class="invitation-games">
      <% @not_accepted_games.each do |game| %>
        <li>
          <%= button_to '/games/:id', { :controller => 'home', :action => 'update', :id => game.id }, method: :post do %>
            <div class="friend-image">
              <%= image_tag (game.from_user.image + "?height=200") %>
            </div>
            <div class="game-text">
              <h3><%= game.from_user.name %></h3>
              <h4>invited you to play</h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless (@waiting_on_user.size < 1) %>
    <h2>current games</h2>
    <ul class="current-games">
      <% @waiting_on_user.each do |game| %>
        <li>
          <%= link_to 'home#accepted' do %>
            <div class="friend-image">
              <%= image_tag (game.from_user.image + "?height=200") %>
            </div>
            <div class="game-text">
              <h3><%= game.from_user.name %></h3>
              <h4>invited you to play</h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless @waiting_on_friend.nil? %>
    <h2>waiting on friend</h2>
    <ul class="invitation-games">
      <% @waiting_on_friend.each do |game| %>
        <li>
          <%= link_to ('games/' + game.id.to_s) do %>
            <div class="friend-image">
              <%= image_tag (game.other_user(current_user.id).image + "?height=200") %>
            </div>
            <div class="game-text" data-game-id="<%= game.id %>">
              <h3><%= game.other_user(current_user.id).name %></h3>
              <h4>needs to respond (id is <%= game.id %>, from <%= game.from_user_id %>)</h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
</div>