<%
  $next = '/'
  $your_colors = ['#e4b811', '#fe9f3f', '#f8d29b', '#d82a0e']
  $rothko_colors = ['#c81a0e', '#d1a81f', '#f4d6a9', '#f2d236']
  $friend_colors = ['#c80e15', '#e8c68c', '#eade1a', '#ecb227']
  $your_score = rand(10...42)
  $friend_score = rand(10...42)
  $friend_name = 'Celine Nguyen'
%>

<% # @@@@@ # %>

<nav>
  <ul>
    <li class="ss-icon home">
      <%= link_to "home", "/" %>
    </li>
    <li class="ss-icon next">
      <%= link_to "next", $next %>
    </li>
  </ul>
</nav>

<ul class="your-colors">
    <li style="background-color: #<%= @user_result.ranking.color1 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @user_result.ranking.color2 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @user_result.ranking.color3 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @user_result.ranking.color4 %>">
      &nbsp;
    </li>
</ul>

<ul class="friend-colors">
    <li style="background-color: #<%= @other_result.ranking.color1 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @other_result.ranking.color2 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @other_result.ranking.color3 %>">
      &nbsp;
    </li>
    <li style="background-color: #<%= @other_result.ranking.color4 %>">
      &nbsp;
    </li>
</ul>

<div id="score">
  <% if @user_result.score > @other_result.score %>
    <h3>You won!</h3>
    <h4><strong>You</strong> scored <%= @user_result.score %></h4>
    <h4><strong><%= @other_result.ranking.user.name %></strong> scored <%= @other_result.score %></h4>
  <% elsif @user_result.score < @other_result.score %>
    <h3><%= @other_result.ranking.user.name %></strong> won!</h3>
    <h4><strong>You</strong> scored <%= @user_result.score %></h4>
    <h4><strong><%= @other_result.ranking.user.name %></strong> scored <%= @other_result.score %></h4>
  <% else %>
    <h3>You tied with <%= @other_result.ranking.user.name %>!</h3>
    <h4><strong>Both of you</strong> scored <%= @user_result.score %>.</h4>
  <% end %>
</div>