<!-- +INFO DISPLAY PERSON'S FACEBOOK FRIENDS -->

<!-- +TODO SET UP MODAL TO CONFIRM -->
<!-- +TODO SET UP FORM TO SEND WHICH FRIEND IT IS -->

<!-- +LINK FORWARD TO PHOTO.HTML.ERB -->

<%
  $prev = 'dashboard'
  $next = "javascript:document.getElementById('new_game').submit();"
%>

<section>
  <nav>
    <ul>
      <li class="ss-icon previous">
        <%= link_to "previous", $prev %>
      </li>
      <li class="ss-icon next">
        <%= link_to "next", $next %>
      </li>
    </ul>
    <h1>Choose a challenger</h1>
    <figure>
      <%= image_tag 'placeholder-you.png', :class => "friend_chosen" %>
      <p class="friend_name" data-id="none" >Choose a friend</p>
    </figure>
  </nav>
</section>

<div class="friends">
  <ul class="friends-list large">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <li data-id="<%= user.id %>" data-name="<%= user.name %>">
          <%= image_tag (user.image + "?height=300&width=300"), :class => 'game-new-choose-friend' %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <!--
  <ul class="friends-list small">
    <% for i in 1..88 %>
      <li class="<%= i %>">
        <%= image_tag  'placeholder-friend.png', :class => 'friend'  %>
      </li>
    <% end %>
  </ul>
  -->
</div>

<%= render 'form_friend' %>

<script>
  jQuery(function() {
    return $('.game-new-choose-friend').click(function() {
      var name = $(this).parent().attr('data-name');
      var id = $(this).parent().attr('data-id')
      console.log(this);
      $('.friend_chosen').attr('src', $(this).attr('src'));
      $('.friend_name').html(name);
      $('#game_to_user_id').val(id);
      console.log(name);
    });
  });
</script>